:root {
    --yellow-xxx: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --attribution-color: hsl(228, 45%, 44%); 
    --box-content-width: 21rem;
}

* {
    margin: 0rem;
    padding-inline: 0rem;
    background-color: var(--yellow-xxx);
    font-family: "Figtree",Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 0rem;
}

a {
    text-decoration: none;
}
.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
    min-height: 100vh;

}

.centered-box {
    width: 24rem;
    height: 32.625rem;
    background-color: white;
    border-radius: 5%;
    box-sizing: border-box;
    border: 0.0625rem solid var(--gray-950);
    box-shadow: 0.5rem 0.5rem black;

}

.blog-post-image {
    margin: 1.5rem;
    border-radius: 0.625rem;
}

.blog-post-teaser {
    background-color: white;
    padding-inline-start: 1.5rem;
    padding-inline-end: 1.5rem;
    text-align: left;
}

.tag {
    padding-inline: 0rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0rem;
}
.mark {
    background-color: var(--yellow-xxx);
    padding-inline-start: 0.75rem;
    padding-inline-end:0.75rem;
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    border-radius: 5%;
    gap: 0.75rem;
}

.published {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0rem;
    padding: 0rem;
    margin-top: 0.75rem;
}
.title {
    padding-inline: 0rem;
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0rem;
    margin-top: 0.75rem;
}
.title:hover {
    color: var(--yellow-xxx);
}
.teaser {
    padding-inline: 0rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0rem;
    color: var(--gray-500);
    margin-top: 0.75rem;

}

.author-box {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
    background-color: white;
    padding-inline-start: 1rem;
    width: 22rem;
    margin-top: 1rem;
   
}
.author-photo {
    text-align: left;
    background-color: white;
    border-radius: 50%;
    width: 2rem;
}

.author-name {
    background-color: white;
    margin-left: 1rem;
    padding-inline: 0rem;
    font-size: 0.875rem;
    font-weight: 700;
    color: var(--gray-950);
    line-height: 150%;
    letter-spacing: 0rem;

}
.attribution {
        font-size: 0.75rem;
        text-align: center;
      }

.attribution a {
        color: var(--attribution-color);
      }



/* For devices with a maximum width of 400px (Medium) */
@media screen and (max-width: 25rem) {

    .centered-box {
        transform: scale(0.85)
    }

    .tag {
        font-size: 0.75rem;
    }


    .published {
        font-size: 0.75rem;
    }

    .title {
        font-size: 1.25rem;
    }

    .teaser {
        font-size: 1rem;
    }


    .author-name {
        font-size: 0.875rem;
    }
}